* {
    box-sizing: border-box;
}
html {
    /*scroll-behavior: smooth;*/
}

img {
    max-width: 100%;
}

.color-orange {
    background-color: #FFB342;
}

.color-blue {
    background-color: #1C2752
}

.color-gray {
    background-color: #F4F4F4;
}

h2 {
    color: #1C2752;
    font-family: Mulish, sans-serif;
    font-size: 35px;
    line-height: 58.5px;
    letter-spacing: 0.36px;
}

h3 {
    color: #FFB342;
    font-family: Mulish, sans-serif;
    font-size: 20px;
    line-height: 37.5px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

.text_15 {
    color: #1C2752;
    font-family: Inter, sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.36px;
}

.text_13 {
    color: #1C2752;
    font-family: Inter, sans-serif;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

/*стилі для хедера*/

.head .bg-header {
    background: #F2F2F2;
    padding: 21px 120px;
}

.head .bg-header .text_13 {
    margin-bottom: 0;
}

.head .margin-icon {
    margin-right: 20px;
}
.head .header_2 {
    padding: 30px 120px 60px 120px;
    background: #FFFFFF;
}
.head .social:hover {
    box-shadow: 0 10px 20px #414141;
}


.head .logo {
    height: 30px;
    margin-top: 10px;
}

.head .circle {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #FFB342;
}

.head .text_20 {
    color: #1C2752;
    font-family: Mulish, sans-serif;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.36px;
}

.head .color {
    color: #7E7E7E;
}

.head .color:hover {
    color: #414141;
}

.head .margin-text {
    margin-right: 65px;
}

.head .margin-text-2 {
    margin-right: 15px;
}

.head .img_size {
    width: 18px;
    height: 18px;
}

.head .img-place {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.head .tel-mail {
    text-decoration: none;
}

.head .navbar {
    padding: 10px 10px 10px 45px;
}

.head .button_menu {
    padding: 10px 28px;
    border: 2px solid #1C2752;
}

.head .margin_menu {
    margin-right: 45px;
}

.head .menu {
    color: #222;
    font-family: Inter, sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.36px;
}

.head .menu:hover {
    color: #FFFFFF;
}

.head .home {
    color: #FFFFFF;
}

.head .menu_blue_collar {
    margin-top: -30px;
    margin-bottom: -45px;
    position: relative;
    z-index: 2;
}

.head .text_button_menu {
    color: #FFFFFF;
    margin-bottom: 0;
}

/*медіа запити для хедера*/

@media screen and (max-width: 992px) {

    .head .logo {
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 768px) {
    .head .mail {
        width: 100%;
    }

    .head .call {
        width: 100%;
    }

    .head .mail_call {
        flex-wrap: wrap;
    }

    .head .logo {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 576px) {
    .head .mail_call {
        padding-left: 40px;
    }

    .head .bg-header {
        padding: 21px 40px;
    }

    .head .bg-header .text_13 {
        margin-bottom: 15px;
    }

    .head .header_2 {
        padding: 30px 20px 60px 20px;
    }

    .head .menu_blue_collar {
        margin-top: -40px;
    }

    .head .navbar-toggler {
        margin-bottom: 15px;
    }

    .head .logo {
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .head .navbar {
        padding: 10px 20px 10px 20px;
    }

    .head .button_menu {
        width: 100%;
    }
}

/*стилі для першої секції*/
.section_1 .bg-text {
    padding: 270px 500px 0 120px;
}

.section_1 .zag {
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.section_1 .bg-text {
    position: relative;
    z-index: 2;
    margin-top: -600px;
}

.section_1 .bg-text-1 {
    margin-top: -100px;
}

.section_1 h1 {
    margin-top: -40px;
}

.section_1 .color_white {
    color: #FFF;
}

h1 {
    color: #FFF;
    font-family: Mulish, sans-serif;
    font-size: 45px;
    line-height: 62px;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    margin-top: 33px;
    margin-bottom: 29px;
}

.section_1 .bg-text-1 {
    background: rgba(255, 255, 255, 0.20);
    padding-left: 20px;
    padding-right: 40px;
    height: 29px;
}

.section_1 .margin-text_3 {
    margin-bottom: 0;
}

.section_1 .button_1 {
    border: 2px solid #FFB342;
    padding: 10px 28px;
    margin-bottom: 140px;
}

.section_1 .text_button_view {
    margin-bottom: 0;
}

.section_1 .margin_icon_2 {
    margin-right: 10px;
}

/*запити для 1 секції*/
@media screen and (max-width: 1200px) {
    .section_1 .bg-text {
        padding-right: 0;

    }
}

@media screen and (max-width: 992px) {

    .section_1 .zag {
        margin-bottom: -200px;
    }

    .section_1 .bg-text {
        padding-left: 30px;
        margin-top: -200px;
        padding-top: 0;
    }
}

@media screen and (max-width: 768px) {
    .section_1 .bg-text {
        padding-top: 70px;
    }

    .section_1 h1 {
        line-height: 40px;
        font-size: 40px;
        margin-bottom: 19px;
    }

    .section_1 .bg-text-1 {
        margin-top: -80px;
    }
}

@media screen and (max-width: 576px) {

    .section_1 h1 {
        font-size: 35px;
    }

    .section_1 .bg-text-1 {
        opacity: 0;
    }
}

/*стилі для другої секції*/

.section_2 {
    margin-top: 140px;
    margin-bottom: 140px;
}

.section_2 .image {
    padding-left: 120px;
}

.section_2 .margin_icon_2 {
    margin-right: 8px;
}

.section_2 .welcome_bluecolor {
    margin-top: 20px;
    padding: 3px 20px;
    width: 46%;
}

.section_2 .welcome {
    margin-bottom: 0;
}

.section_2 .title {
    margin-bottom: 0;
}

.section_2 .block_right {
    padding-right: 120px;
}

.section_2 .text_color {
    color: #7E7E7E;
    text-transform: none;
}

.section_2 .one {
    margin-bottom: 10px;
}

.section_2 .number {
    color: #FFB342;
    font-family: Mulish, sans-serif;
    font-size: 55px;
    line-height: 88px;
    letter-spacing: 0.36px;
    margin-bottom: 5px;
}

.section_2 .text_20 {
    color: #1C2752;
    font-family: Mulish, sans-serif;
    font-size: 15px;
    line-height: 5px;
    letter-spacing: 0.36px;
}

.section_2 .color-gray {
    background: #F4F4F4;
}

.section_2 .width_block {
    width: 130px;
}

.section_2 .expirience {
    margin-bottom: 30px;
}

.section_2 .link_expirience {
    color: #7E7E7E;
    line-height: 18px;
    text-transform: none;
    margin-bottom: 8px;
}

.section_2 .link {
    margin-left: -35px;
    margin-top: 10px;
}

/*запити для 2 секції*/

@media screen and (max-width: 1200px) {
    .section_2 .image {
        padding: 0;
        width: 100%;
    }

    .section_2 .block_right {
        padding-right: 0;
        margin-bottom: -100px;
    }

    .section_2 .welcome_bluecolor {
        margin-top: 40px;
        width: 22%;
    }
}

@media screen and (max-width: 768px) {
    .section_2 .welcome_bluecolor {
        width: 40%;
    }
}

@media screen and (max-width: 576px) {
    .section_2 .welcome_bluecolor {
        width: 56%;
    }

    .section_2 .block_right {
        padding-right: 15px;
    }

    .section_2 .width_block {
        width: 120px;
    }

    .section_2 h2 {
        font-size: 30px;
    }
}

/*стилі для 3 секції*/
.section_3 .offer {
    padding: 3px 20px;
}

.section_3 .what_we_offer {
    margin-bottom: 0;
}

.section_3 .offer_zag {
    padding-top: 140px;
}

.section_3 .margin_icon_2 {
    margin-right: 8px;
}

.section_3 .text_2 {
    text-transform: none;
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    margin-bottom: 30px;
}

.section_3 .title_section {
    text-align: center;
    margin-top: 18px;
}

.section_3 .commercial {
    color: #222;
    margin-bottom: 0;
}

.section_3 .button1 {
    padding: 10px 28px;
    border: 1px solid #1C2752;
}

.section_3 .button_white {
    padding: 10px 28px;
    border: 1px solid #FFF;
    background: #FFFFFF;
}

.section_3 .service {
    display: none;
}

.section_3 .service.open {
    display: block;
}

.section_3 .margin_icon {
    margin-right: 10px;
}

.section_3 .margin_button {
    margin-right: 15px;
}

.section_3 .block_white {
    background: #FFF;
    box-shadow: -1px 6px 18px 0px rgba(0, 0, 0, 0.09);
}

.section_3 .left {
    padding: 70px 40px 70px 60px;
}

.section_3 .electrical {
    padding: 3px 20px;
    width: 47%;
    margin-bottom: 15px;
}

.section_3 .electrical_installation {
    margin-bottom: 0;
}

.section_3 .text_electrical {
    color: #7E7E7E;
    text-transform: none;
}

.section_3 .button_2 {
    border: 2px solid #FFB342;
    padding: 10px 28px;
    margin-top: 10px;
}

.section_3 .text_button {
    margin-bottom: 0;
}

.section_3 .buttons {
    margin-bottom: 30px;
}

.section_3 .photo {
    padding-top: 82px;
    padding-right: 60px;
}

/*запити для 3 секції*/
@media screen and (max-width: 992px) {
    .section_3 .text_2 {
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .section_3 .photo {
        padding: 0;
        width: 100%;
        padding-bottom: 20px;
        margin-top: -30px;
    }
}

@media screen and (max-width: 768px) {
    .section_3 .button_white {
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }

    .section_3 .button1 {
        width: 47%;
        margin: 0 auto;
        justify-content: center;
    }

    .section_3 .buttons {
        flex-wrap: wrap;
    }

    .section_3 button.button1:last-child {
        margin-top: 10px;
    }

    .section_3 .offer_zag {
        padding-top: 60px;
    }

    .section_3 .electrical {
        width: 77%;
        margin-bottom: 15px;
    }

    .section_3 .left {
        padding: 40px 20px 70px 20px;
    }

    .section_3 h2 {
        font-size: 30px;
        line-height: 45px;
    }

}

/*стилі для 4 секції*/

.section_4 .area_zag {
    padding-top: 250px;
    margin-top: -97px;
}

.section_4 .area {
    background: #FFF;
    padding: 3px 20px;
}

.section_4 .area_of_service {
    margin-bottom: 0;
}

.section_4 .margin_icon_2 {
    margin-right: 8px;
}

.section_4 .title_section {
    text-align: center;
    margin-top: 18px;
}

.section_4 .text_2 {
    text-align: center;
    margin-bottom: 47px;
    color: #7E7E7E;
    text-transform: none;
    padding-left: 270px;
    padding-right: 270px;
}

.section_4 .six_blocks {
    padding-right: 120px;
    padding-bottom: 140px;
    padding-left: 120px;
}

.section_4 .block_blue {
    padding: 30px 20px 30px 20px;
}

.section_4 .text_in_block {
    text-transform: none;
    color: #D2D2D2;
}

.section_4 .text_in_block_2 {
    color: #FFF;
    margin-top: 10px;
}

.section_4 .text_in_block_2:hover {
    font-weight: 800;
}

.section_4 .title_block {
    margin-top: 20px;
}

.section_4 .margin_blocks {
    margin-bottom: 30px;
}

.section_4 .color_view {
    color: #FFF;
    text-decoration: none;
}

/*запити для 4 секції*/

@media screen and (max-width: 992px) {

    .section_4 .text_2 {
        padding: 0;
    }

    .section_4 .six_blocks {
        padding-right: 20px;
        padding-bottom: 40px;
        padding-left: 20px;
    }

    .section_4 .security {
        margin-bottom: 30px;
    }

    .section_4 .service {
        margin-bottom: 30px;
    }

    .section_4 .area_zag {
        padding-top: 150px;
    }

    .section_4 h2 {
        font-size: 30px;
    }

}

/*стилі для 5 секції*/

.section_5 .img_photo {
    padding-left: 0;
    padding-right: 0;
}

.section_5 .numbers {
    margin-top: -560px;
    background: rgba(28, 39, 82, 0.86);
    padding-top: 70px;
    padding-bottom: 60px;
    width: 85%;
}

.section_5 .number {
    color: #1C2752;
    font-family: Mulish, sans-serif;
    font-size: 19px;
    line-height: 35px;
    letter-spacing: 0.36px;
    border: 1px solid #FFB342;
    flex-basis: 20%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 0;
    text-align: center;
}

.section_5 .text_width_number {
    color: #FFF;
    font-family: Mulish, sans-serif;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.36px;
    border: 1px solid #FFFFFF;
    border-left: none;
    flex-basis: 55%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
}

.section_5 .margin_numbers {
    margin-bottom: 20px;
}

.section_5 .right_content {
    padding: 93px 50px 63px 55px;
}

.section_5 .why {
    padding: 3px 20px;
    width: 40%;
}

.section_5 .why_choose_us {
    margin-bottom: 0;
}

.section_5 .margin_icon_2 {
    margin-right: 8px;
}

.section_5 .title {
    line-height: 45px;
    margin-top: 18px;
}

.section_5 .text_right {
    text-transform: none;
    color: #7E7E7E;
    margin-bottom: 40px;
}

.section_5 .icon_text {
    margin-bottom: 25px;
}

.section_5 .texts {
    margin-top: -10px;
}

.section_5 .reasons {
    color: #1C2752;
    font-family: Mulish, sans-serif;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.36px;
}

.section_5 .little_text {
    color: #7E7E7E;
    text-transform: none;
}

.section_5 .check {
    margin-top: -10px;
}

.section_5 .little_text {
    margin-top: -12px;
}

.section_5 .margin_check {
    margin-right: 15px;
}

/*запити для 5 секції*/

@media screen and (max-width: 1200px) {

    .section_5 .photo_bg {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {

    .section_5 .why {
        width: 60%
    }
}

@media screen and (max-width: 576px) {

    .section_5 .numbers {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: -420px;
        width: 95%;
    }

    .section_5 .right_content {
        padding: 93px 0 63px 0;
    }

    .section_5 h2 {
        font-size: 30px;
        line-height: 45px;
    }

}

/*стилі до 6 секції */

.section_6 .container {
    margin-top: -69px;
    padding: 140px 35px 150px 35px;
}

.section_6 .text_13 {
    margin-bottom: 0;
    color: #7E7E7E;
}

.section_6 .gallery {
    width: 14%;
    padding: 3px 20px;
    margin: 0 auto;
}

.section_6 .the_gallery {
    margin-bottom: 0;
    color: #1C2752;
}

.section_6 .margin_icon_2 {
    margin-right: 8px;
}

.section_6 .title {
    color: #FFF;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 20px;
}

.section_6 .img_content {
    border: 1px solid #D2D2D2;
    background: #FFF;
    padding-left: 18px;
    padding-top: 18px;
    padding-right: 18px;
    padding-bottom: 24px;
}

.section_6 .title_2 {
    color: #1C2752;
    margin-top: 24px;
    text-align: center;
    line-height: 30px;
}

.section_6 .img_content:hover {
    padding-bottom: 52px;
}

/*запити для 6 секції*/

@media screen and (max-width: 1200px) {

    .section_6 .gallery {
        width: 20%;
    }
}

@media screen and (max-width: 992px) {

    .section_6 .img {
        width: 100%;
    }

    .section_6 .margin_img {
        margin-bottom: 20px;
    }

    .section_6 .gallery {
        width: 40%;
    }

    .section_6 .container {
        padding: 50px 35px 50px 35px;
    }
}

@media screen and (max-width: 576px) {

    .section_6 .gallery {
        width: 50%;
    }

    .section_6 h2 {
        font-size: 30px;
    }
}


/*стилі для 7 секції*/

.section_7 .container {
    margin-top: 140px;
    margin-bottom: 140px;
}

.section_7 .text_13 {
    text-transform: none;
    margin-bottom: 17px;
}

.section_7 .testimonials {
    width: 35%;
    padding: 3px 20px;
}

.section_7 .testimonlal {
    margin-bottom: 0;
}

.section_7 .left_block {
    padding-left: 120px;
}

.section_7 .right_block {
    padding-right: 120px;
}

.section_7 .zag_clients {
    padding-right: 120px;
}

.section_7 .margin_icon_2 {
    margin-right: 8px;
}

.section_7 .says {
    margin-top: 18px;
    margin-bottom: 20px;
}

.section_7 .name_customer {
    color: #1C2752;
    font-family: Mulish, sans-serif;
    font-size: 17px;
    line-height: 30.8px;
    letter-spacing: 0.36px;
    margin-bottom: -5px;
}

.section_7 .city_customer {
    color: #7E7E7E;
    font-family: Inter, sans-serif;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.36px;
}

.section_7 .margin_customer {
    margin-right: 10px;
}

.section_7 .circle {
    width: 55px;
    height: 55px;
    border-radius: 100px;
    background: #FFB342;
}

.section_7 .cvote {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.section_7 .text_says, .text_blue {
    color: #7E7E7E;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.36px;
}

.section_7 .text_blue {
    color: #1C2752;
}

.section_7 .zag_says {
    border: 1px solid #D2D2D2;
    padding: 30px;
    padding-bottom: 80px;
    margin-bottom: 35px;
}

.section_7 .questions {
    width: 43%;
    padding: 3px 20px;
}

.section_7 .any_question {
    margin-bottom: 0;
}

.section_7 h3 {
    color: #1C2752;
    line-height: 32.5px;
    margin-top: 17px;
}

.section_7 .zag_question {
    padding: 50px 30px 40px 30px
}

.section_7 .circle_white {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #FFF;
}

.section_7 .tel {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.section_7 .tel_number {
    color: #FFF;
    font-family: Mulish, sans-serif;
    font-size: 23px;
    line-height: 45px;
    letter-spacing: 0.36px;
    margin-bottom: 0;
}

.section_7 .tel_number:hover {
    color: #414141;
}

.section_7 .margin_tel {
    margin-right: 15px;
}

.section_7 .telephone {
    text-decoration: none;
}

.section_7 .meet_us {
    margin-bottom: 0;
}

.section_7 .meet {
    width: 35%;
    padding: 3px 20px;
}

.section_7 .forma {
    width: 100%;
    padding: 15px 0 15px 40px;
    border: 1px solid #CCC;
    background: #FFF;
}

.section_7 .forma:focus {
    outline: none;
}

.section_7 ::placeholder, .forma {
    color: #1C2752;
    font-family: Inter, sans-serif;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.36px;
}

.section_7 form {
    background: #F4F4F4;
    padding: 60px 30px 65px 30px;
}

.section_7 .margin_form {
    margin-bottom: 18px;
}

.section_7 .describe {
    min-height: 140px;
    margin-bottom: 20px;
}

.section_7 .submit_form {
    border: 2px solid #FFB342;
    background: #FFB342;
    font-weight: 700;
    padding: 17px 0 17px 0;
}

.slick-prev:before, .slick-next:before {
    color: #c9c9c9;
    background: #c9c9c9;
    opacity: 0.5;
    border-radius: 50%;
    font-size: 50px;
    position: absolute;
    top: 115px;
    left: 20px;
}

.section_7 .arrow_1, .arrow_2 {
    margin-top: 17px;
    margin-left: 15px;
    position: absolute;
    z-index: 1;
}

.section_7 .arrow_2 {
    margin-left: 80px;
}

.slick-next:before {
    left: -320px;
}

.section_7 .our_clients {
    margin-top: 100px;
    width: 13%;
    padding: 3px 20px;
}

.section_7 .clients {
    margin-bottom: 0;
}

.section_7 .title_clients {
    text-align: center;
    margin-top: 18px;
    margin-bottom: 20px;
}

.section_7 .margin_client {
    margin-right: 5px;
}

.section_7 .padding_clients {
    padding-left: 120px;
}

/*запити для 7 секції*/

@media screen and (max-width: 1200px) {

    .section_7 .left_block {
        padding-left: 15px;
    }

    .section_7 .testimonials {
        margin: 0 auto;
    }

    .section_7 .says {
        text-align: center;
    }

    .section_7 .container {
        margin-top: 40px;
    }

    .section_7 .meet {
        width: 30%;
        margin: 0 auto;
        margin-top: 40px;
    }

    .section_7 .our_clients {
        margin-top: 40px;
        width: 25%;
    }

    .section_7 .company_clients {
        width: 50%;
        text-align: center;
    }

    .section_7 .company {
        flex-wrap: wrap;
    }

    .section_7 .padding_clients {
        padding-left: 15px;
    }

    .section_7 .container {
        margin-bottom: 40px;
    }

    .slick-next:before {
        left: -750px;
    }

    .section_7 .zag_question {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section_7 .arrow_1, .arrow_2 {
        margin-top: 37px;
    }

    .section_7 .arrow_2 {
        margin-left: 145px;
    }
}

@media screen and (max-width: 992px) {

    .slick-next:before {
        left: -550px;
    }

    .section_7 .arrow_1, .arrow_2 {
        margin-top: 30px;
    }

    .section_7 .arrow_2 {
        margin-left: 105px;
    }

}

@media screen and (max-width: 768px) {

    .slick-next:before {
        left: -250px;
    }

    .section_7 .zag_question {
        text-align: start;
        display: block;
    }

    .section_7 .company_clients {
        text-align: start;
    }

    .slick-prev:before, .slick-next:before {
        top: 130px;
    }

    .section_7 .questions {
        width: 53%;
    }

    .section_7 .meet {
        width: 35%;
    }

    .section_7 .company_clients {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .section_7 .arrow_1, .arrow_2 {
        margin-top: 30px;
    }

    .section_7 .arrow_2 {
        margin-left: 225px;
    }
}

@media screen and (max-width: 576px) {

    .section_7 .right_block {
        padding-right: 15px;
    }

    .section_7 .zag_clients {
        padding-right: 15px;
    }

    .section_7 h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .section_7 .our_clients {
        width: 30%;
    }

    .section_7 .arrow_1, .arrow_2 {
        margin-top: 30px;
    }

    .section_7 .arrow_2 {
        margin-left: 80px;
    }
    .slick-next:before {
        left: -390px;
    }
}
@media  screen and (max-width: 420px){
    .slick-next:before {
        left: -250px;
    }
    .section_7 .arrow_1, .arrow_2 {
        margin-top: 20px;
    }
}

/*стилі для 8 секції*/

.section_8 .container {
    padding: 150px 120px 135px 120px;
}

.section_8 .price_plan {
    margin-bottom: 0;
}

.section_8 .margin_icon_2 {
    margin-right: 8px;
}

.section_8 .price {
    width: 37%;
    padding: 3px 20px;
    background: #FFF;
}

.section_8 h2 {
    margin-top: 18px;
    margin-bottom: 40px;
    line-height: 45px;
}

.section_8 .text_right {
    color: #7E7E7E;
    text-transform: none;
    padding-right: 7px;
    margin-top: 25px;
}

.section_8 .white_block {
    background: #FFF;
    padding: 30px 30px 40px 30px;
}

.section_8 .title_price {
    letter-spacing: 0.4px;
}

.section_8 .number_price {
    color: #1C2752;
    font-family: Mulish, sans-serif;
    font-size: 27px;
    line-height: 35.2px;
    letter-spacing: 0.36px;
}

.section_8 .text_right_price {
    color: #7E7E7E;
    font-family: Inter, sans-serif;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.section_8 .line {
    height: 1px;
    background: #D7D7D7;
}

.section_8 .points {
    color: #7E7E7E;
    margin-bottom: 0;
}

.section_8 .margin_points {
    margin-right: 8px;
}

.section_8 .margin_points_bottom {
    margin-bottom: 18px;
}

.section_8 .button {
    border: 2px solid #FFB342;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin-top: 35px;
}

.section_8 .button:hover {
    box-shadow: 0 10px 20px #414141;
}

.section_8 .text_button {
    margin-bottom: 0;
}

.section_8 .popular {
    color: #1C2752;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
    margin-bottom: 10px;
}

.section_8 .standard {
    margin-bottom: -24px;
}

.section_8 .marg {
    margin-bottom: 0;
}

.section_8 .reasons {
    margin-bottom: 5px;
    color: #1C2752;
    font-family: Mulish, sans-serif;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.36px;
}

.section_8 .margin_check {
    margin-right: 15px;
}

.section_8 .text_content {
    margin-top: 60px;
}

.section_8 .little_text {
    color: #7E7E7E;
    text-transform: none;
}

/*запити для 8 секції*/

@media screen and (max-width: 1200px) {

    .section_8 .price {
        margin: 0 auto;
    }

    .section_8 .container {
        padding: 50px 15px 35px 15px;
    }

    .section_8 h2 {
        text-align: center;
        margin-bottom: 15px;
    }

    .section_8 .text_right {
        padding-right: 0;
        margin-top: 0;
        text-align: center;
        margin-bottom: 20px;
    }

    .section_8 .margin_white_block {
        margin-bottom: 20px;
    }

    .section_8 .text_content {
        margin-top: 30px;
    }
}

@media screen and (max-width: 576px) {

    .section_8 .price {
        width: 40%;
    }

    .section_8 h2 {
        font-size: 30px;
        line-height: 45px;
    }
}

/*стилі для 9 секції*/

.section_9 .container {
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 150px;
    padding-bottom: 140px;
}

.section_9 .stay_updated {
    margin-bottom: 0;
}

.section_9 .margin_icon_2 {
    margin-right: 8px;
}

.section_9 .stay {
    width: 20%;
    padding: 3px 20px;
    margin: 0 auto;
}

.section_9 h2 {
    margin-top: 18px;
    margin-bottom: 40px;
    text-align: center;
}

.section_9 .name {
    color: #1C2752;
    font-family: Inter, sans-serif;
    font-size: 11px;
    line-height: 22.5px;
    letter-spacing: 0.3px;
    margin-bottom: 0;
    margin-left: 10px;
}

.section_9 .name_date {
    padding: 10px 16px;
    background: #FFC368;
}

.section_9 .color_right {
    background: #FFB342;
}

.section_9 .zag_block {
    margin-top: -26px;
}

.section_9 h3 {
    color: #1C2752;
    text-transform: none;
    font-size: 25px;
    margin-top: 23px;
    margin-bottom: 16px;
    line-height: 33px;
}

.section_9 .text_13 {
    color: #7E7E7E;
    text-transform: none;
}

.section_9 .stay_updated {
    color: #1C2752;
}

.section_9 .text_15 {
    letter-spacing: 0.4px;
    margin-bottom: 0;
    margin-right: 10px;
}

.section_9 .view_more {
    text-decoration: none;
}

.section_9 .more:hover {
    background: #FFC368;
    padding-left: 12px;
    width: 28%;
}

.section_9 .img {
    padding-left: 15px;
    padding-right: 15px;
}

/*запити для 9 секції*/

@media screen and (max-width: 1200px) {
    .section_9 .stay {
        width: 20%;
    }

    .section_9 .container {
        padding: 50px 15px 40px 15px;
    }

    .section_9 .name_date {
        padding: 10px 19px;
    }
}


@media screen and (max-width: 992px) {

    .section_9 .stay {
        width: 40%;
    }

    .section_9 h2 {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .section_9 .marg_col {
        margin-bottom: 20px;
    }

    .section_9 .name_date {
        padding: 10px 39px;
    }
}

@media screen and (max-width: 576px) {
    .section_9 .name_date {
        padding: 10px 18px;
    }

    .section_9 .stay {
        width: 45%;
    }

    .section_9 h2 {
        font-size: 30px;
        line-height: 45px;
    }

    .section_9 .more:hover {
        width: 30%;
    }
}

/*стилі для 10 секції*/

.section_10 .container {
    padding: 141px 120px 52px 120px;
}

.section_10 .subscribe_our {
    color: #1C2752;
    font-family: Mulish, sans-serif;
    font-size: 27px;
    line-height: 44.8px;
    letter-spacing: 0.36px;
    margin-bottom: 9px;
}

.section_10 .text_13 {
    text-transform: none;
}

.section_10 .left_content {
    padding-right: 120px;
}

.section_10 .enter_email {
    background: inherit;
    border: 3px solid #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
}

.section_10 .enter_email:focus {
    outline: none;
}

.section_10 ::placeholder, .enter_email, .subscribe {
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.36px;
}

.section_10 .subscribe {
    padding: 10px 30px;
    border: 2px solid #FFF;
    background: #FFF;
    color: #1C2752;
}

.section_10 .right_content {
    margin-top: 11px;
}

/*запити для 10 секції*/

@media screen and (max-width: 1200px) {
    .section_10 .container {
        padding: 41px 15px 52px 15px;
    }

    .section_10 .left_content {
        padding-right: 15px;
        text-align: center;
    }

    .section_10 .right_content {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .section_10 .enter_email {
        text-align: center;
    }
}

/*стилі для футера*/

.footer .foot {
    padding: 60px 154px 28px 120px;
    flex-wrap: nowrap;
}

.footer .logo {
    height: 30px;
    margin-top: 31px;
}

.footer .circle {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #FFB342;
}

.footer .text_20, .color {
    color: #FFFFFF;
    font-family: Mulish, sans-serif;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.36px;
}

.footer .margin-text-2 {
    margin-right: 15px;
}

.footer .img-place {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer .img_size {
    width: 18px;
    height: 18px;
}

.footer .text_13 {
    color: #FFF;
    text-transform: none;
    margin-bottom: 8px;
}

.footer .color:hover {
    color: #FFB342;
}

.footer .little_text {
    margin-bottom: 0;
    padding-right: 30px;
}

.footer .bord {
    border-right: 1px solid #4B557D;
    padding-right: 30px;
    padding-bottom: 48px;
    margin-bottom: -15px;
}


.footer .bord_down {
    margin-left: 120px;
    margin-top: -105px;
    border-right: 1px solid #4B557D;
    padding-right: 330.5px;
    margin-bottom: 40px;
    color: #1C2752;
}

.footer .bord_down_2 {
    margin-left: 120px;
    margin-top: -105px;
    border-right: 1px solid #4B557D;
    padding-right: 240px;
    margin-bottom: 40px;
    color: #1C2752;
}

.footer .social {
    border-right: 1px solid #4B557D;
    margin-bottom: 3px;
}

.footer .bord_2 {
    border-left: 1px solid #4B557D;
    margin-left: -30px;
    padding-left: 30px;
    margin-bottom: -32px;
    padding-bottom: 32px;
}

.footer .left_content {
    padding-top: 109px;
    padding-right: 20px;
    margin-left: 120px;
    margin-bottom: 87px;
    border: 1px solid #4B557D;
    border-left: none;
    border-right: none;
}

.footer .circle_2 {
    width: 42px;
    height: 42px;
    border-radius: 100px;
    background: #2C3765;
}

.footer .icon {
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.footer .icon:hover {
    width: 23px;
    height: 23px;
}

.footer .margin_circle {
    margin-right: 15px;
}

.footer .right_content {
    padding-top: 40px;
    margin-right: 120px;
    padding-bottom: 33px;
    margin-bottom: 103px;
    padding-left: 50px;
    border: 1px solid #4B557D;
    border-right: none;
    border-left: none;
}

.footer .left_block {
    padding-right: 0;
}

.footer .right_block {
    padding-left: 0;
}

.footer .title_yellow {
    color: #FFB342;
    font-family: Mulish, sans-serif;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.36px;
}

.footer .lists {
    color: #FFFFFF;
}

.footer .one_list {
    margin-right: 60px;
}

.footer .two_list {
    margin-right: 100px;
}

.footer .loc-tel-mail {
    text-decoration: none;
}


/*запити для футера*/


@media screen and (max-width: 1200px) {
    .footer .mail {
        width: 50%;
    }

    .footer .call {
        width: 50%;
    }

    .footer .location {
        width: 50%;
    }

    .footer .foot {
        flex-wrap: wrap;
        padding: 20px 154px 28px 60px;
    }

    .footer .logo {
        margin-bottom: 20px;
    }

    .footer .left_content {
        padding-right: 15px;
        margin-left: 15px;
        margin-bottom: 30px;
    }

    .footer .right_content {
        padding-top: 40px;
        margin-right: 15px;
        margin-bottom: 40px;
        padding-left: 30px;
        border: none;
        justify-content: space-between;
    }

    .footer .bord_down {
        border: none;
    }

    .footer .bord_down_2 {
        border: none;
    }

    .footer .bord_2 {
        border: none;
    }
}

@media screen and (max-width: 768px) {
    .footer .mail {
        width: 100%;
        margin-bottom: 10px;
    }

    .footer .call {
        width: 100%;
        margin-bottom: 10px;
    }

    .footer .location {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .footer .foot {
        flex-wrap: wrap;
        padding: 20px 0 28px 60px;
    }

    .footer .bord {
        border-right: none;

    }

    .footer .social {
        border-right: none;
        justify-content: center;

    }

    .footer .left_content {
        text-align: center;
        margin-left: 0;
    }

    .footer .little_text {
        padding-right: 0;
    }

    .footer .bord {
        padding-right: 0;

    }

}


